body {
    background-image: url(https://media-cdn.tripadvisor.com/media/photo-s/16/8c/14/06/ipanema.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}


ul {
    color: rgb(red, green, blue);
}
div {
    color: brown;
}